.contenedor-proyecto{
    height: 92%;
    width: 80%;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.contenedor-proyecto::-webkit-scrollbar{
    display: none;
}

.decripcion-proyecto{
    width: 80%;
}