.footer{
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: white;
    width: 100vw;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 0.7rem;
    padding-top: 0.1rem;
    padding-left: 0.8rem;
}